/*GENERAL*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* define variables for the primary colors */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/*MENU PRINCIPAL PAGE 1*/
.title {
  text-align: center;
  color: #fdcb46;
  background-color: #569c84;
  width: 100%;
  text-decoration: none;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.title a {
  text-decoration: none;
  color: #fdcb46;
  font-size: 40px;
  height: 100%;
  padding-top: 20px;
}

/*MENU*/
.container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  -ms-grid-columns: 300px 300px;
      grid-template-columns: 300px 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.menu {
  width: 300px;
  height: 400px;
  border-radius: 5%;
  margin-bottom: 50px;
  display: block;
  background-color: #fcdfdb;
  -webkit-box-shadow: 0px 0px 10px -5px black;
          box-shadow: 0px 0px 10px -5px black;
}

.menu a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.menu a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.7;
}

.menu i {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: #c88a68;
  font-size: 50px;
  margin-bottom: 15px;
}

.menu .items-note {
  color: #623d41;
  font-family: 'Devonshire', cursive;
}

.menu .items-note .kalam {
  font-family: 'Kalam', cursive;
  font-size: 30px;
}

.menu .items-chic {
  background-color: #fff5fe;
  font-family: 'Kurale', serif;
}

.menu .items-chic .gradient-1 {
  background: -webkit-gradient(linear, left top, right top, from(#B96E4C), to(#9E62C4));
  background: linear-gradient(to right, #B96E4C, #9E62C4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu .items-chic .vidaloka {
  font-family: 'Vidaloka', serif;
  color: #c27875;
  font-size: 30px;
}

.menu .items-dish {
  background-color: #eaeaeb;
  font-family: 'Dancing Script', cursive;
}

.menu .items-dish .gradient-2 {
  background: -webkit-gradient(linear, left top, right top, from(#4C4CF1), to(#86C2FA));
  background: linear-gradient(to right, #4C4CF1, #86C2FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu .items-dish .kalam {
  font-family: 'Kalam', cursive;
  color: #4C4CF1;
  font-size: 30px;
}

.menu .items-taste {
  background-color: #fdfffd;
  font-family: 'Kaushan Script', cursive;
}

.menu .items-taste .gradient-3 {
  background: -webkit-gradient(linear, left top, right top, from(#43983C), to(#BBFC7C));
  background: linear-gradient(to right, #43983C, #BBFC7C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu .items-taste .kalam {
  font-family: 'Kalam', cursive;
  color: #43983C;
  font-size: 30px;
}

/* FOOTER*/
#wait {
  text-align: center;
  color: #fdcb46;
  background-color: #569c84;
  font-size: 30px;
  margin-bottom: 100px;
  width: 300px;
  margin: auto;
  font-style: montserrat;
  border-radius: 5px;
  height: 40px;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#wait .loading:first-child {
  -webkit-animation: loading 1s linear 0s infinite;
          animation: loading 1s linear 0s infinite;
}

#wait .loading:nth-child(2) {
  -webkit-animation: loading 1s linear 0.3s infinite;
          animation: loading 1s linear 0.3s infinite;
}

#wait .loading:last-child {
  -webkit-animation: loading 1s linear 0.7s infinite;
          animation: loading 1s linear 0.7s infinite;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #569c84;
  height: 90px;
  padding: 0 20px;
  font-family: sans-serif;
  margin-top: 50px;
}

footer .footer_link {
  font-size: 20px;
  text-decoration: none;
  color: #fdcb46;
  padding-top: 30px;
}

.footer_link:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* MEDIA SCREEN FIRST PAGE*/
@media screen and (max-width: 680px) {
  header {
    margin-bottom: 30px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-bottom: 30px;
  }
  .menu a {
    width: 300px;
  }
}

/*MENU INDIVIDUAL*/
header h2 {
  text-align: center;
  font-size: 30px;
}

.box {
  width: 60%;
  -webkit-box-shadow: 0px 0px 10px -5px black;
          box-shadow: 0px 0px 10px -5px black;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2em;
  font-style: italic;
  font-family: 'Kalam', cursive;
}

.box li {
  list-style: none;
}

.box h3 {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

.box #note i {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: #c88a68;
  font-size: 55px;
  padding-bottom: 30px;
  padding-top: 60px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h4:before, h4:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}

h4:before {
  margin-right: 10px;
}

h4:after {
  margin-left: 10px;
}

h5 {
  text-align: center;
  font-size: 22px;
  padding-bottom: 40px;
  font-weight: lighter;
}

h5 i {
  margin-right: 10px;
  font-size: 30px;
  color: #c88a68;
}

.boxe-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  width: 100%;
  line-height: 3em;
}

.boxe-list ul {
  width: 450px;
}

#color-bg {
  background-color: #fcdfdb;
  width: 100%;
  padding: 0 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#color-bg h3 {
  font-family: 'Devonshire', cursive;
}

#color-bg h5 {
  font-family: 'Devonshire', cursive;
}

#color-bg .price {
  margin-left: 40px;
}

#color-taste {
  background-color: #fdfffd;
  width: 100%;
  padding-top: 100px;
  padding-right: 40px;
  padding-left: 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#color-taste .price {
  margin-left: 40px;
}

#color-chic {
  width: 100%;
  background-color: #fff5fe;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: 'Kurale', serif;
}

#color-chic .price {
  margin-left: 40px;
}

#color-dish {
  width: 100%;
  background-color: #eaeaeb;
  padding-top: 100px;
  padding-right: 40px;
  padding-left: 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#color-dish .price {
  margin-left: 40px;
  font-style: bold;
}

.gradient-1 {
  background: -webkit-gradient(linear, left top, right top, from(#B96E4C), to(#9E62C4));
  background: linear-gradient(to right, #B96E4C, #9E62C4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-2 {
  background: -webkit-gradient(linear, left top, right top, from(#4C4CF1), to(#86C2FA));
  background: linear-gradient(to right, #4C4CF1, #86C2FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-3 {
  background: -webkit-gradient(linear, left top, right top, from(#43983C), to(#BBFC7C));
  background: linear-gradient(to right, #43983C, #BBFC7C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1042px) {
  .boxe-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* MENTION LEGALE*/
#page {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */